# Keep manifests and assets; ignore compiled outputs copied during packaging
!/AppxManifest.xml
!/Package.appxmanifest
!/Assets/

# Ignore published binaries and symbol files
*.exe
*.dll
*.json
*.pdb
*.config
*.runtimeconfig.json
*.deps.json


